@charset "UTF-8";
/*初始化网页*/
body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,tr,td{
    margin: 0;
    padding: 0;
    font:12px "微软雅黑" ;
}
input,image,button{
    margin: 0;
    padding: 0;
    border:0 none;
    outline-style: none;
}
a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}
a:hover{
    color: #11BF79;
}
li{
    list-style: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
/*输入框不能拉动*/
textarea{
    resize: none;
}
/*去掉图片下面空白间隙*/
img{
    border: 0;
    vertical-align:middle;
}
/*表格边框合并*/
table{
    border-collapse: collapse;
}
/*废标签利用*/
s, i, em {
    font-style: normal;
    text-decoration: none;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1; /*IE/7/6*/
}
.w{
    width:1160px ;
    margin: 0 auto;
}
/*css初始化结束*/

/*头部开始*/
    /*轮播图开始*/
.header{
    height: 450px;
    position: relative;
}
.lunbo-box{
    width: 1349px;
    height: 450px;
    position: relative;
}
.screen{
    width: 1349px;
    height: 450px;
    position: relative;
    overflow: hidden;
}
.screen ul{
    width: 8094px;
    height: 450px;
    background-color: pink;
    position: absolute;
    top: 0;
    left: 0;
}
.screen ul li{
    float: left;
}
.screen ul li img{
    width: 1349px;
    height: 450px;
}
.screen ol{
    position: absolute;
    left: 550px;
    bottom: 30px;
}
.screen ol li{
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    background-color: #040806;
    line-height: 25px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin-left: 25px;
    cursor: pointer;
}
.screen ol li.current{
    background-color: #11BF79;
}
.screen .arrow{
    position: absolute;
    display: none;
}
.screen .arrow span{
    font-size: 50px;
}
.screen .arrow .arrow-left{
    position: absolute;
    top: 200px;
    left: 30px;
    opacity: 0.6;
}
.screen .arrow .arrow-left:hover{
    opacity: 1;
    cursor: pointer;
}
.screen .arrow .arrow-right{
    position: absolute;
    top: 200px;
    left: 1280px;
    opacity: 0.6;
}
.screen .arrow .arrow-right:hover{
    opacity: 1;
    cursor: pointer;
}
    /*轮播图结束*/
    /*顶部导航*/
.nav{
    width: 1349px;
    height: 60px;
    position: absolute;
    top: 0px;
}
.nav-left img{
    float: left;
    margin-top: 12px;
    margin-left: 30px;
}
.nav-left ul{
    float: left;
}
.nav-left ul li{
    float: left;
    line-height: 60px;
    padding: 0px 16px;
    position: relative;
}
.nav-left ul li a{
    font-size: 16px;
    color: #FFFFFF;
}
.nav-left ul li a:hover{
    color: #11BF79;
}
.nav-left i{
    position: absolute;
    width: 20px;
    height: 12px;
    overflow: hidden;
    top: 28px;
    left: 50px;
}
.nav-left s{
    font-size: 19px;
    position: absolute;
    top: -30px;

}
.header-search{
    width: 180px;
    height: 20px;
    margin-right: 30px;
    margin-top: 20px;
    border-right: 1px solid #FFFFFF;
    padding-right: 20px;
}
.header-search .right-search{
    width: 155px;
    padding-left: 5px;
    height: 20px;
    background-color:#fff;
    float: left;
    border-radius: 3px;
    opacity: 0;
}
.header-search .header-button{
    width: 20px;
    height: 20px;
    float: left;
    background: url("../index-images/sousuo.png") 2px 2px no-repeat;
    cursor: pointer;
}

.nav-right li{
    float: left;
    line-height: 60px;
    margin-right: 30px;
}
.nav-right li a{
    color: #FFFFFF;
    font-size: 16px;
}
.nav-right li a:hover{
    color: #11BF79;
}
.nav-right li .qq-logo{
    position: relative;
    top: -2px;
}
.nav-right li .weixin-logo{
    position: relative;
    top: 2px;
}
    /*导航下的次导航*/
.travel-nav{
    width: 165px;
    height: 110px;
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: #FFFFFF;
    border-radius: 5px;
    opacity: 0.7;
    display: none;
    padding-top: 5px;
}
.yuding-nav{
    width: 150px;
    height: 95px;
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: #FFFFFF;
    border-radius: 5px;
    opacity: 0.7;
    display: none;
    padding-top: 5px;
}
.nav-left ul .travel-nav a,.nav-left ul .yuding-nav a{
    font-size: 14px;
    color: black;
    display: block;
    margin-bottom: 8px;
    margin-left: 5px;
}
.nav-gif{
    width: 44px;
    height: 12px;
    position: absolute;
    background: url("../index-images/icon-recommend.gif");
    top: 8px;
    left: 95px;
}

    /*子导航*/
.subnav{
    width: 620px;
    height: 100px;
    position: absolute;
    left: 365px;
    bottom: 90px;
}
.subnav-top{
    height: 40px;
    text-align: center;
}
.subnav-top a{
    font-size: 20px;
    color: #FFFFFF;
    display: inline-block;
    margin: 0 45px;
}
.subnav-top a:hover{
    color: #11BF79;
}
.subnav-bottom{
    height: 60px;
    background-color:black;
    border-radius: 5px;
    opacity: 0.3;
}
.subnav .search{
    width: 595px;
    height: 40px;
    position: absolute;
    top: 50px;
    left: 12px;
    background-color: pink;
    border-radius: 4px;
}
.subnav .search-box{
    width: 500px;
    height: 40px;
    background-color: #FFFFFF;
    float: left;
    border-radius: 4px 0 0 4px;
    padding-left: 5px;
}
.subnav .btn{
    width: 90px;
    height: 40px;
    background-color: #11BF79;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #FFFFFF;
    border-radius: 0 4px 4px 0;
}
.music{
    position: fixed;
    left: 1280px;
    top: 540px;
    width: 32px;
    height: 32px;
    overflow: hidden;
    border: 1px solid #11BF79;
    border-radius: 3px;
}

/*头部结束*/

/*头部下面广告开始*/
.banner-box{
    width: 1349px;
    background-color: #F5F5F5;
    border-top: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
}
.banner{
    height: 150px;
}
.banner img{
    margin-top: 20px;
}
/*头部下面广告结束*/

/*猜你感兴趣部分开始*/
.main-box{
    width: 1349px;
}
.main{
    height: 784px;
}
    /*头部开始*/
.main-head{
    height: 114px;
    position: relative;
}
.main-head h2{
    font-size: 35px;
    color: #636363;
    line-height: 114px;
    text-align: center;
}
.main-head a:hover{
    color: #11BF79;
}
.main-head .change{
    position: absolute;
    font-size: 16px;
    color: #636363;
    top: 66px;
    left: 0px;

}
.main-head .change span{
    /*身体部分开始*/

}
.main-body{
    height: 620px;
}
.main-body div{
    width: 275px;
    height: 300px;
    background-color: #F5F5F5;
    float: left;
    margin-right: 20px;
    position: relative;
}
.main-body .div4,.main-body .div8{
    margin-right: 0;
}
.main-body .div1,.main-body .div2,.main-body .div3,.main-body .div4{
    margin-bottom: 20px;
}
.main-body div a{
    display: block;
    width: 275px;
    height: 185px;
}
.main-body .describe{
    width: 273px;
    height: 114px;
    border: 1px solid #ECECEC;
    border-top: none;
}
.main-body p{
    font-size: 16px;
    color:#323232;
    line-height: 24px;
    margin-top: 18px;
    margin-left: 18px;

}
.main-body .main-i{
    margin-left: 18px;
    margin-top: 18px;
    font-size: 14px;
    color: #636363;
}
.main-body .main-s{
    margin-right: 18px;
    margin-top: 20px;
    font-size: 12px;
    color: #959595;
}
.main-body .main-banner{
    color: #959595;
    margin-top: 13px;
    margin-right: 18px;
    font-size: 12px;
}
.main-body .main-banner span{
    font-size: 20px;
    color: #FF7466;
}
.main-body .div4{
    width: 275px;
    height: 298px;
    /*border-top: 2px solid #1EBA69;*/
    overflow: hidden;

}.main-body .div4 .header-line{
     width: 0px;
     height: 2px;
     background-color:#1EBA69 ;
 }
.main-body .div4 .p1{
    font-size: 18px;
    color: #323232;
    text-align: center;
    line-height:60px;
}
.main-body .div4 .p2{
    text-align: center;
    font-size: 12px;
    color: #959595;
}
.main-body .div4 .p3{
    width: 236px;
    height: 40px;
    background-color: #11BF79;
    line-height: 40px;
    text-align: center;
    margin-left: 20px;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
}
.main-body .div4 .p4{
    font-size: 12px;
    color: #959595;
}
.main-body .div4 .p4 span{
    color: #11BF79;
}
.main-body .div4 .p5{
    color: #11BF79;
    font-size: 12px;
}
    /*头部结束*/
/*猜你感兴趣部分结束*/

/*打广告开始*/
.big-banner-box{
    width: 1349px;
    margin-bottom: 30px;
}
.big-banner a{
    display: block;
    width: 1160px;
    height: 240px;
}
/*打广告结束*/

/*自由行开始*/
    /*头部*/
.free-box{
    margin-top: 319px;
    width: 1349px;
    height: 606px;
    background-color:#00BBFF;
}
.free{
    height: 634px;
}
.free-top{
    height: 119px;
    text-align: center;
}
.free-top img{
    margin-top: 30px;
}
    /*身体部分*/
.free-body{
    height: 345px;
}
.free-body .div11,.free-body .div12,.free-body .div13{
    width: 370px;
    height: 345px;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
}
.free-body .div11,.free-body .div12{
    margin-right: 25px;
}
.free-body ul{
    width: 370px;
    position: absolute;
}
.free-body .div12 ul{
    top:-1725px ;
}
.free-body ul li{
    width: 355px;
    height: 345px;
    padding-left: 15px;
}
.free-body ul li h3{
    height: 77px;
    font-size: 20px;
    color: #323232;
    line-height: 77px;
}
.free-body ul li .bg-img{
    width: 340px;
    height: 145px;
    margin-bottom: 20px;
    position: relative;
}
.free-body ul li p{
    position: absolute;
    width: 340px;
    height: 50px;
    left: 0px;
    bottom: 0px;
    background-color: black;
    opacity: 0.3;
}
.free-body ul li .bg-img span{
    position: absolute;
    z-index: 1;
    font-size: 20px;
    color: #fff;
    bottom: 13px;
    left: 8px;
}
.free-body ul li i{
    font-size: 12px;
    color: #959595;
}
.free-body ul li span{
    font-size: 20px;
    color: #FF7466;
}
.free-body ul li s{
    width: 80px;
    height: 30px;
    margin-right: 15px;
    background-color: #FF7466;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    font-size: 16px;
}

    /*底部*/
.free-footer{
    height: 170px;
}
.free-footer .discount{
    width: 220px;
    height: 50px;
    background-color: #ffffff;
    margin-left: 470px;
    border-radius: 5px;
    font-size: 20px;
    color: #636363;
    text-align: center;
    line-height: 50px;
    margin-top: 60px;
}
/*自由行结束*/

/*游记开始*/
.travel-box{
    width: 1349px;
}
.travel{
    height: 885px;
}
.travel-top{
    height: 115px;
}
.travel-top h2{
    height: 114px;
    line-height: 114px;
    text-align: center;
    font-size: 35px;
    color: #636363;
}
.travel-body{
    height: 600px;
    width: 1160px;
    position: relative;
    overflow: hidden;
}
.travel-body ul{
    width: 5800px;
    height: 600px;
    position: absolute;
    background: url("../index-images/libg.jpg")repeat-x;
}
.travel-body ul li {
    width: 1160px;
    height: 600px;
    float: left;
    background-color: #FFFFFF;
}
.travel-body .bigger{
    width: 275px;
    height: 185px;
    overflow: hidden;
    position: relative;
}
.travel-body .bigger img{
    position: absolute;
}
.travel-body .travel-1,.travel-body .travel-2,.travel-body .travel-3,.travel-body .travel-4{
    width: 275px;
    height: 290px;
    background-color: #F8F8F8;
    margin-bottom: 20px;
    float: left;
    position: relative;
}
.travel-body .travel-1,.travel-body .travel-2,.travel-body .travel-3{
    margin-right: 20px;
}
.travel-body .travel-5,.travel-body .travel-6,.travel-body .travel-7,.travel-body .travel-8{
    width: 275px;
    height: 290px;
    background-color: #F8F8F8;
    float: left;
    position: relative;
}
.travel-body .travel-5,.travel-body .travel-6,.travel-body .travel-7{
    margin-right: 20px;
}
.travel-body .user1{
    width: 55px;
    height: 55px;
    border: 5px solid #ffffff;
    border-radius: 50px;
    position: absolute;
    top: 150px;
    left: 15px;
    background: url("../index-images/200-2.jpg");
}
.travel-body .user2{
    width: 55px;
    height: 55px;
    border: 5px solid #ffffff;
    border-radius: 50px;
    position: absolute;
    top: 150px;
    left: 15px;
    background: url("../index-images/200-6.jpg");
}
.travel-body .user3{
    width: 55px;
    height: 55px;
    border: 5px solid #ffffff;
    border-radius: 50px;
    position: absolute;
    top: 150px;
    left: 15px;
    background: url("../index-images/200-24.jpg");
}
.travel-body .user4{
    width: 55px;
    height: 55px;
    border: 5px solid #ffffff;
    border-radius: 50px;
    position: absolute;
    top: 150px;
    left: 15px;
    background: url("../index-images/200-27.jpg");
}
.travel-body .user5{
    width: 55px;
    height: 55px;
    border: 5px solid #ffffff;
    border-radius: 50px;
    position: absolute;
    top: 150px;
    left: 15px;
    background: url("../index-images/200-7.jpg");
}
.travel-body .user6{
    width: 55px;
    height: 55px;
    border: 5px solid #ffffff;
    border-radius: 50px;
    position: absolute;
    top: 150px;
    left: 15px;
    background: url("../index-images/200-25.jpg");
}
.travel-body .user7{
    width: 55px;
    height: 55px;
    border: 5px solid #ffffff;
    border-radius: 50px;
    position: absolute;
    top: 150px;
    left: 15px;
    background: url("../index-images/200-34.jpg");
}
.travel-body .user8{
    width: 55px;
    height: 55px;
    border: 5px solid #ffffff;
    border-radius: 50px;
    position: absolute;
    top: 150px;
    left: 15px;
    background: url("../index-images/200-35.jpg");
}
.travel-body span{
    display: block;
    height: 30px;
    line-height: 30px;
    margin-left: 85px;
    color: #636363;
    position: relative;
}
.travel-body span i{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 7px;
    left: 62px;
    background: url("../index-images/auth_avatar_q.png") 0 0 no-repeat;
}
.travel-body .user-sex{
    background: url("../index-images/auth_avatar_q.png") -100px 0 no-repeat;
}
.travel-body p{
    font-size: 16px;
    color: #323232;
    padding-left: 15px;
    margin-top: 20px;
}



.travel-footer{
    height: 170px;
}
.travel-footer ul{
    height: 67px;
    padding-left: 480px;
}
.travel-footer ul li{
    float: left;
    width: 30px;
    height: 7px;
    background-color: #D7D7D7;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 30px;
}
.travel-footer ul .current{
    background-color: #11BF79;
}
.travel-footer .discount{
    width: 220px;
    height: 50px;
    background-color: #ffffff;
    margin-left: 470px;
    border-radius: 5px;
    font-size: 20px;
    color: #636363;
    text-align: center;
    line-height: 50px;
}
/*游记结束*/

/*发现穷游开始*/
.more-box{
    width: 1349px;
    background-color: #F5F5F5;
}
.more{
    height: 484px;
    border-top: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
}
.more-top{
    height: 94px;
}
.more-top-left{
    margin-top: 44px;
}
.more-top-left h3{
    color:#636363;
    font-size: 30px;
    display: inline-block;
}
.more-top-left a,.more-top-left span{
    color: #636363;
}
.more-top-right{
    margin-top: 44px;
}
.more-top-right h3{
    font-size: 26px;
    color: #636363;
    margin-right: 94px;
}
.more-top-right span{
    width: 80px ;
    height: 26px;
    background-color: #11BF79 ;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    line-height: 26px;
    border-radius: 3px;
    margin-top: 6px;
}
.more-body-left{
    width: 765px;
    height: 340px;
}
.more-body-left .more-div1,.more-body-left .more-div2,.more-body-left .more-div3,.more-body-left .more-div4,.more-body-left .more-div5,.more-body-left .more-div6{
    width: 368px;
    height: 98px;
    border: 1px solid #ECECEC;
    float: left;
    background-color:#FFFFFF;
}
.more-body-left .more-div1,.more-body-left .more-div2,.more-body-left .more-div3,.more-body-left .more-div4{
    margin-bottom: 20px;
}
.more-body-left .more-div1,.more-body-left .more-div3,.more-body-left .more-div5{
    margin-right: 25px;
}
.more-user1,.more-user2,.more-user3,.more-user4,.more-user5,.more-user6{
    width: 70px;
    height: 70px;
    border: 5px solid #ECECEC;
    border-radius: 70px;
    background: url("../index-images/200-23.jpg");
    margin-left: 15px;
    margin-top: 9px;
}
.more-user2{
    background: url("../index-images/200-1.jpg");
}
.more-user3{
    background: url("../index-images/200-21.jpg");
}
.more-user4{
    background: url("../index-images/200-31.jpg");
}
.more-user5{
    background: url("../index-images/200-26.jpg");
}
.more-user6{
    background: url("../index-images/big5.png");
}
.more-introduce{
    width: 250px;
    height: 70px;
    padding-left: 10px;
    border-left: 1px solid #ECECEC;
    margin-top: 14px;
    margin-right: 5px;
    position: relative;
}
.more-introduce .p1{
    font-size: 18px;
    color: #323232;
}
.more-introduce .p2{
    font-size: 14px;
    color: #959595;
}
.more-introduce .p3{
    font-size: 16px;
    color: #636363;
}
.more-introduce .focus{
    position: absolute;
    width: 58px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-size: 14px;
    color: #636363;
    border: 1px solid #ECECEC;
    right: 0px;
    top: 0px;
}

.more-body-right{
    width: 370px;
    height: 340px;
    position: relative;
    overflow: hidden;
}
.more-body-right ul{
    width: 370px;
    position: absolute;
    height: 1360px;
}
.more-body-right ul li{
    width: 370px;
    height: 340px;
    position: relative;
    background-color: #F5F5F5;
}
.more-body-right ul .li-div{
    width: 368px;
    height: 148px;
    border: 1px solid #ECECEC;
    margin-bottom: 20px;
    background-color: #FFFFFF;
}
.more-body-right .judge1,.more-body-right .judge2,.more-body-right .judge3,.more-body-right .judge4,.more-body-right .judge5,.more-body-right .judge6{
    position: absolute;
    width: 70px;
    height: 70px;
    border: 5px solid #ECECEC;
    border-radius: 70px;
    background: url("../index-images/200-32.jpg");
    margin-top: 15px;
    margin-left: 15px;
}
.more-body-right .judge2{
    background: url("../index-images/200-5.jpg");
}
.more-body-right .judge3{
    background: url("../index-images/200-4.jpg");
}
.more-body-right .judge4{
    background: url("../index-images/200-3.jpg");
}
.more-body-right .judge5{
    background: url("../index-images/200-22.jpg");
}
.more-body-right .judge6{
    background: url("../index-images/200-241.jpg");
}
.more-body-right ul li .judge-title{
    width: 260px;
    height: 90px;
    margin-top: 20px;
    float: right;
}
.more-body-right ul li .judge-title p{
    color: #636363;
    margin-bottom: 3px;
}
.more-body-right ul li .judge-title img{
    margin-bottom: 20px;
}
.more-body-right ul li .judge-title span{
    color: #323232;
}

/*发现穷游结束*/

/*底部广告开始*/
.footer-banner-box{
    width: 1349px;
    height: 250px;
    /*margin-top: 20px;*/
}
/*底部广告结束*/

/*底部开始*/
.footer-top-box{
    width: 1349px;
    background-color:#fff;
    border-bottom: 2px solid #32B95D;
}
.footer-top{
    height: 190px;
}
.footer-top .footer-div2,.footer-top .footer-div3,.footer-top .footer-div4,.footer-top .footer-div5{
    width: 80px;
    height: 100px;
    margin-top: 45px;
    margin-left: 30px;
}
.footer-top a{
    display: inline-block;
    width: 80px;
    height: 80px;
}
.footer-top span{
    display: inline-block;
    width: 80px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
.footer-top .footer-div1{
    font-size: 30px;
    color: #636363;
    line-height: 190px;
}

.footer-body-box{
    width: 1349px;
    background-color: #323232;
}
.footer-body{
    height: 224px;
}
.footer-body dl{
    float: left;
    margin-top: 34px;
    width: 155px;
}
.footer-body dt{
    color: #FFFFFF;
    border-left: 2px solid #11BF79;
    padding-left: 15px;
    margin-bottom: 20px;
    font-size: 16px;
}
.footer-body dd{
    padding-left: 15px;
    margin-bottom:16px ;
}
.footer-body dd a{
    color:#959595 ;
}
.footer-body dd a:hover{
    color: #11BF79;
}

.footer-bottom-box{
    width: 1349px;
    background-color: #242424;
}
.footer-bottom{
    height: 155px;
}
.footer-copyright{
    height: 80px;
}
.copyright-left img{
    margin-top: 22px;
}
.copyright-middle{
    width: 755px;
    height: 36px;
    margin-top: 22px;
    margin-left: 10px;
    color: #959595;
    margin-left: 170px;
}
.copyright-right img{
    margin-top: 22px;
}

.footer-link{
    height: 75px;
}
.link-left{
    height: 72px;
    width: 70px;
    font-size: 14px;
    padding-top: 3px;
    color: #959595;
}
.link-right{
    height: 70px;
    width: 1050px;
    padding-top: 5px;
}
.link-right a{
    color: #959595;
}
.link-right a:hover{
    color: #11BF79;
}

/*底部结束*/

/*固定登陆栏开始*/
.login-box{
    width: 1349px;
    height: 70px;
    position: fixed;
    top: 597px;
}
.login-bg{
    width: 1349px;
    height: 70px;
    background-color: black;
    opacity: 0.6;
    position: absolute;
}
.login{
    height: 70px;
    position: absolute;
    top: 0px;
    left: 95px;

}
.login img{
    margin-left: 130px;
}
.login li{
    float: left;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}
.login .li01{
    background: url("../index-images/qyer_layer_btn_2.png");
}
.login .li02{
    background: url("../index-images/qyer_layer_btn_2.png") -100px 0px;
}
.login .li03{
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: #FFFFFF;
}
.login .li03 a{
    text-decoration: underline;
    font-size: 16px;
    color: #FFFFFF;
    position: relative;
    margin-right: 5px;
    top: -1px;
}
.login .li04{
    width: 109px;
    background: url("../index-images/qyer_layer_btn_2.png") -310px 0px;
}
.login .li04 a{
    width: 100px;
    height: 30px;
    display: inline-block;
}
#login-close{
    position: absolute;
    top: 20px;
    right: 15px;
    color: #FFFFFF;
    display: none;
    cursor: pointer;
    font-size: 25px;
    opacity: 0.8;
}
/*固定登陆结束*/

/*返回顶部开始*/
#returnTop{
    width: 32px;
    height: 32px;
    position: fixed;
    left: 1280px;
    top: 500px;
    display: none;
}
/*返回顶部结束*/
